<div class="edit-wrapper">
<h2 class="edit-title">投稿を編集する</h2>

<div class="tweet-form-container">

<%= form_with model: @tweet, local: true do |f| %>

  <div class="field">
    <%= f.label :shop, "店名" %>
    <%= f.text_field :shop %>
  </div>

  <div class="field">
    <%= f.label :place, "場所" %>
    <%= f.text_field :place %>
  </div>

  <div class="field">
    <%= f.label :purpose, "目的" %>
    <%= f.text_field :purpose %>
  </div>

  <div class="field">
    <%= f.label :atomosphere, "雰囲気" %>
    <%= f.text_field :atomosphere %>
  </div>

  <div class="field">
    <%= f.label :detail, "詳細" %>
    <%= f.text_area :detail %>
  </div>

  <div class="field">
    <%= f.label :image, "画像" %>
    <%= f.file_field :image %>
  </div>

  <!-- タグ -->
  <div class="form-group">
    <h3>タグ</h3>

    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class="form-check">
        <%= tag.label class: 'form-check-label' do %>
          <%= tag.check_box class: 'form-check-input' %>
          <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-buttons">
    <%= f.submit "更新する", class: "btn-submit" %>
  </div>

<% end %>

<%= link_to "投稿詳細に戻る", tweet_path(@tweet), class: "btn-back" %>

</div>
