
<h1 class="page-title">新規cafe投稿</h1>

<div class="tweet-form-container">
<%= form_for @tweet do |f| %>


  <div class="field">
     <%= f.label :shop, "店名" %>
    <%= f.text_field :shop, size: 30 %>
  </div>

   <div class="field">
   <%= f.label :place, "場所" %>
    <%= f.text_field :place, size: 30 %>
  </div>

   <div class="field">
    <%= f.label :purpose, "目的" %>
    <%= f.text_field :purpose, size: 30 %>
  </div>

   <div class="field">
     <%= f.label :atomosphere, "雰囲気" %>
    <%= f.text_field :atomosphere, size: 30 %>
  </div>

   <div class="field">
   <%= f.label :detail, "詳細" %>
    <%= f.text_area :detail, size: "30x2" %>
  </div>

   <div class="field">
     <%= f.label :image, "画像" %>
    <%= f.file_field :image %>
  </div>
 
   <div class='form-group'>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
            </div>
        <% end %>
    </div>

   
<div class="form-buttons">
<%= link_to "cafe一覧に戻る", tweets_path, class: "btn-back" %>
 <%= f.submit "投稿する", class: "btn-submit" %>
<% end %>


</div>
