<div class="mypage-container">
<h1>My Page</h1>


<div class="mypage-info">
    <p class="user-name">名前: <%= @user.name %></p>
    <p class="user-profile">プロフィール: <%= @user.profile %></p>
  </div>


<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path, class: "btn-edit" %>
<% end %>

<h2 class="user-section-title">ユーザーの投稿一覧</h2>

<div class="tweets-container">
  <% @user.tweets.each do |t| %>

    <div class="tweet">
     
      <p class="tweet-user">ユーザー：<%= link_to t.user.name, user_path(t.user.id) %></p>
    
       <p class="shop-name"><%= t.shop %>

        <% if t.image.attached? %>
    <%= image_tag t.image, class: "tweet-image" %>
  <% end %>

      <div class="tweet-form-view">

  <div class="field">
    <label>場所</label>
    <div class="form-view-box"><%= t.place %></div>
    </div>

  <div class="field">
    <label>目的</label>
    <div class="form-view-box"><%= t.purpose %></div>
    </div>
  </div>

     <div class="tweet-tags">
          <% t.tags.each do |tag| %>
            <span class="tag"><%= tag.name %></span>
          <% end %>
        </div>
      
      <%= link_to "詳細へ", tweet_path(t), class: "detail-link" %>

          <div class="like-area">
        <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
            <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), data: { turbo_method: :delete } do %>
              <i class="fas fa-heart" style="color:red;"></i>
              <%= t.likes.count %>
            <% end %>
          <% else %>
            <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), data: { turbo_method: :post } do %>
              <i class="far fa-heart"></i>
              <%= t.likes.count %>
            <% end %>
          <% end %>
        <% else %>
          <i class="far fa-heart"></i>
          <%= t.likes.count %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<h2 class="user-section-title">ユーザーがいいねした投稿一覧</h2>
<div class="tweets-container">
  <% @user.liked_tweets.each do |t| %>
    <div class="tweet">
      <!-- ユーザー名 -->
      <p class="tweet-user">ユーザー：<%= link_to t.user.name, user_path(t.user.id) %></p>

      <!-- 店名 -->
      <p class="shop-name"><%= t.shop %></p>

      <!-- 画像 -->
      <% if t.image.attached? %>
        <%= image_tag t.image, class: "tweet-image" %>
      <% end %>

      <!-- 場所・目的フォームビュー -->
      <div class="tweet-form-view">
        <div class="field">
          <label>場所</label>
          <div class="form-view-box"><%= t.place %></div>
        </div>
        <div class="field">
          <label>目的</label>
          <div class="form-view-box"><%= t.purpose %></div>
        </div>
      </div>

      <!-- タグ -->
      <div class="tweet-tags">
        <% t.tags.each do |tag| %>
          <span class="tag"><%= tag.name %></span>
        <% end %>
      </div>

      <!-- 詳細リンク -->
      <%= link_to "詳細へ", tweet_path(t), class: "detail-link" %>

      <!-- いいねエリア -->
      <div class="like-area">
        <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
            <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), data: { turbo_method: :delete } do %>
              <i class="fas fa-heart" style="color:red;"></i>
              <%= t.likes.count %>
            <% end %>
          <% else %>
            <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), data: { turbo_method: :post } do %>
              <i class="far fa-heart"></i>
              <%= t.likes.count %>
            <% end %>
          <% end %>
        <% else %>
          <i class="far fa-heart"></i>
          <%= t.likes.count %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>



<div class="mypage-buttons">
<%= link_to "Cafe一覧に戻る", tweets_path, class: "btn-back" %>
</div>