<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Candy-cafe" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <script src="https://kit.fontawesome.com/ae47ca5ed7.js"  crossorigin="anonymous"></script> 

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", media: 'all',"data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
 <header>
  <h1 class="logo">Candy-cafe</h1>
  <div class="header-list">
   <ul>
    <% if user_signed_in? %>
    <li>
  <%= button_to "ログアウト",
      destroy_user_session_path,
      method: :delete,
      class: "btn-auth" %>
</li>


    <% else %>
     <li>
  <%= link_to "新規登録",
      new_user_registration_path,
      class: "btn-auth" %>
</li>

<li>
  <%= link_to "ログイン",
      new_user_session_path,
      class: "btn-auth" %>
</li>

    <% end %>
   </ul>
  </div>
 </header>
 <main>
  <%= yield %>
 </main>
    <footer>
      <p>Copyright © GeekSalon All Rights Reserved.</p>
    </footer>
</body>

</html>
